.radio {
    width: 18px;
    height: 18px;
    margin-right: 8px;
    accent-color: #0c0000; /* зелёный цвет выбранной кнопки */
    cursor: pointer;
}

.radio::before {
}


.radio:checked::before {
}

.label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 20px

}

