.button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;

    border-radius: 3px;
    padding: 5px 24px; /* вертикаль/горизонталь */
    /*width: 132px;*/
    height: 30px;
    border: 1px solid #06c;
}

.disabled {
    background: #004d99;
    opacity: 0.5;
}


.secondary {
    background: #fff;
    color: #06c;

}

.default {
    background: #06c;
    color: #fff;
}

.red {
    background: #cc1439;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
    background: #e5f0fa;
}


.default:active {

}

.secondary:active {
    background: #c9e5ff;
}

.red:active {
}

.button:disabled {
    background: rgba(0, 102, 204, 0.4);
    color: #fff;
    border-color: rgba(0, 102, 204, 0.4);
    cursor: not-allowed;
}